Dictionaries are another type of sequence. They map keys to values, like a two-column table.

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>"Avery"</td>
        <td>"B"</td>
    </tr>
    <tr>
        <td>"Kerry"</td>
        <td>"A"</td>
    </tr>
    <tr>
        <td>"Gale"</td>
        <td>"B"</td>
    </tr>
</table>

There are a lot of ways to create dictionaries.

In [4]:
a = {
    'one': 1, 
    'two': 2, 
    'three': 3,
}


b = dict(one=1, two=2, three=3)

c = dict([('two', 2), ('one', 1), ('three', 3)])

a == b == c

True

As you'd expect, the values in dictionaries can be any object.

In [2]:
{'Jordan': {'Homework 1': 92,
            'Homework 2': 87},
 'Gale': {'Homework 1': 88,
          'Homework 2': 76},
 'River': {'Homework 1': 85,
           'Homework 2': 91}}

{'Jordan': {'Homework 1': 92, 'Homework 2': 87},
 'Gale': {'Homework 1': 88, 'Homework 2': 76},
 'River': {'Homework 1': 85, 'Homework 2': 91}}

## Dictionary methods

Dictionaries have the methods all sequences have, but they also have their own specific methods.

We reference values in a dictionary using square brackets, just like we do with lists.

In [6]:
student_roster = {'Jordan': {'Homework 1': 92,
                             'Homework 2': 87},
                  'Gale': {'Homework 1': 88,
                           'Homework 2': 76},
                  'River': {'Homework 1': 85,
                            'Homework 2': 91}}

In [7]:
student_roster['Jordan']

{'Homework 1': 92, 'Homework 2': 87}

In [8]:
student_roster['Jordan']['Homework 1']

92

In [9]:
student_roster['Peyton'] = {'Homework 1': 84,
                            'Homework 2': 77}
print(student_roster)

{'Jordan': {'Homework 1': 92, 'Homework 2': 87}, 'Gale': {'Homework 1': 88, 'Homework 2': 76}, 'River': {'Homework 1': 85, 'Homework 2': 91}, 'Peyton': {'Homework 1': 84, 'Homework 2': 77}}

In [10]:
del student_roster['Gale']
student_roster

{'Jordan': {'Homework 1': 92, 'Homework 2': 87},
 'River': {'Homework 1': 85, 'Homework 2': 91},
 'Peyton': {'Homework 1': 84, 'Homework 2': 77}}

In [11]:
student_roster['Clinton']

KeyError: 'Clinton'

In [12]:
student_roster.keys()

dict_keys(['Jordan', 'River', 'Peyton'])

In [13]:
student_roster.values()

dict_values([{'Homework 1': 92, 'Homework 2': 87}, {'Homework 1': 85, 'Homework 2': 91}, {'Homework 1': 84, 'Homework 2': 77}])

In [14]:
student_roster.get('River')

{'Homework 1': 85, 'Homework 2': 91}

In [15]:
print(student_roster.get('Marion'))

None

In [16]:
# What's the difference between this and .get?
student_roster['Marion']

KeyError: 'Marion'

In [17]:
student_roster.get('Marion', {})

{}

In [18]:
'Marion' in student_roster

False

In [19]:
'River' in student_roster

True

## Dictionaries and for loops

How do dictionaries work with for loops?

In [20]:
for thing in student_roster:
    print(thing)

Jordan
River
Peyton

That wasn't enough. How do we get the value?

In [21]:
for student in student_roster:
    print(student, student_roster[student])

Jordan {'Homework 1': 92, 'Homework 2': 87}
River {'Homework 1': 85, 'Homework 2': 91}
Peyton {'Homework 1': 84, 'Homework 2': 77}

In [22]:
student_roster.items()

dict_items([('Jordan', {'Homework 1': 92, 'Homework 2': 87}), ('River', {'Homework 1': 85, 'Homework 2': 91}), ('Peyton', {'Homework 1': 84, 'Homework 2': 77})])

In [23]:
# Much easier on the eyes
for student, grades in student_roster.items():
    print(student, grades)

Jordan {'Homework 1': 92, 'Homework 2': 87}
River {'Homework 1': 85, 'Homework 2': 91}
Peyton {'Homework 1': 84, 'Homework 2': 77}

In [26]:
# Much easier on the eyes
for student, grades in student_roster.items():
    print(student)
    for assignment, score in grades.items():
        print(assignment, score)

Jordan
Homework 1 92
Homework 2 87
River
Homework 1 85
Homework 2 91
Peyton
Homework 1 84
Homework 2 77

In [25]:
# How do I get all scores for Homework 1?

hw_scores = []
print("student_roster", student_roster)
for student, grades in student_roster.items():
    print("student", student)
    print("grades", grades)
    print("grades['Homework 1']", grades['Homework 1'])
    hw_scores.append(grades['Homework 1'])
print(hw_scores)

student_roster {'Jordan': {'Homework 1': 92, 'Homework 2': 87}, 'River': {'Homework 1': 85, 'Homework 2': 91}, 'Peyton': {'Homework 1': 84, 'Homework 2': 77}}
student Jordan
grades {'Homework 1': 92, 'Homework 2': 87}
grades['Homework 1'] 92
student River
grades {'Homework 1': 85, 'Homework 2': 91}
grades['Homework 1'] 85
student Peyton
grades {'Homework 1': 84, 'Homework 2': 77}
grades['Homework 1'] 84
[92, 85, 84]